/* Estilo común */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
@media (max-width: 767px) {
    /* Tamaño de letra para dispositivos móviles */
    body {
        font-size: 14px; /* Puedes ajustar el tamaño de letra según tus preferencias */
    }
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
}

footer .badge {
    margin-right: 10px;
}

/* Responsive styles barra de navegacion*/
@media (min-width: 768px) {
    .encabezado {
        flex-direction: row;
        text-align: left;
    }
}

/* Estilos para la barra de navegación */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav-links a {
    color: #ffffff;
    text-decoration: none;
}

.header .nav-links a:hover {
    text-decoration: underline;
}

.header-content h5 {
    margin: 0;
    color: #fff;
}

.header-content img {
    width: 50px;
    height: 50px;
}

/* Asegura que la barra de navegación esté desplegada en pantallas grandes */
@media (min-width: 992px) {
    .header .collapse {
        display: block !important;
        height: auto !important;
        visibility: visible !important;
    }
}

/* Justifica los enlaces al centro */
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Estilos para la sección de presentación */
.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.encabezado .fotoperfil {
    text-align: center;
    margin-bottom: 20px;
}

.encabezado .texto {
    text-align: center;
}

.encabezado .texto h1 {
    font-size: 2.5rem;
}

.encabezado .texto p {
    font-size: 1.2rem;
}

/* Ajustes para las tarjetas */
.row.mb-2 .col-md-6 .border {
    text-align: center;
    border-color: #e0e0e0;
}

.row.mb-2 .col-md-6 .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

footer .text-body-secondary {
    color: #6c757d;
}

/* Estilos para las fotos */
.fotoperfil svg{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

/* Estilos para los textos en las tarjetas */
.card-text {
    text-align: justify;
}

/* Estilos específicos para la página index */
.fotoperfil .bd-placeholder-img {
    background-image: url('../img/yo.JPG');
    background-size: cover;
    background-position: center;
}

/*formulario*/
/* Centra el formulario horizontalmente */
.container-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* tamaño que ocupara*/
}

/* Ajusta el ancho máximo del formulario */
.col-md-7 {
    height: 100vh; /* El formulario ocupará el 100% del alto de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #ced4da; /* Bordes izquierdos */
    border-right: 1px solid #ced4da; /* Bordes derechos */
    padding-left: 15px; /* Ajusta el relleno izquierdo para dejar espacio entre el borde y el contenido */
    padding-right: 15px; /* Ajusta el relleno derecho para dejar espacio entre el borde y el contenido */
    max-width: 700px;
}


.card-img-top {
    width: 100%; /* Establece el ancho al 100% del contenedor padre */
    height: 40vh; /* Establece la altura deseada */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio disponible */
}
.container-fluid{
    display: flex;
}
img{
    border-radius: 100%;
    width: 30vh;
}
/* Responsive styles */
@media (max-width: 768px) {
    .container-fluid {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}
.container{
    align-items: center;
}
.container-fluid {
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}
#curriculum{
    border-radius: 0;
    width: 100vh;
    max-width: calc(100% - 40px); /* Restar el doble del margen al 100% */
    max-height: calc(100% - 40px); /* Restar el doble del margen al 100% */
    margin: 20px; /* Establecer el margen deseado */
}

/* Estilos generales para la imagen */
.miimagen img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Centrar el texto */
.texto-sobremi {
    text-align: center;
}

/* Ajustes específicos para pantallas medianas (tablets) y mayores */
@media (min-width: 768px) {
    .texto-sobremi {
        margin-bottom: 20px; /* Ajusta este valor según el espacio deseado */
    }

    .miimagen {
        margin-top: 20px; /* Ajusta este valor según el espacio deseado */
    }
}


